{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "Last 2 versions",
            "IE 8"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "env": {
    "karma": {
      "plugins": [
        [
          "istanbul", { "exclude": ["app/**/*.test.js", "tests/*.js"] }
        ]
      ]
    }
  }
}
