{
    "root": true,
    "extends": "eslint-config-airbnb",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
      "template-curly-spacing": ["error", "always"]
    }
}
